:root{
  --color1: black;
  --color2: #232933;
  --color3: #2E3744;
  --color4: white;
  --color5: gray;
  --color6: rgb(23, 108, 245);
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lightgray;
  border: 1 px solide black;
}
header {
  position: fixed;
  height: 25%;
  width: 100%;
}
nav {
  position: fixed;
  top: 25%;
  height: 85%;
  width: 30%;
}
main {

}
footer {
  bottom: 0%;
  width: 100%;
  height: 10%;
}